aiohttp==3.7.3
aiosqlite==0.16.0
async-timeout==3.0.1
asyncpg==0.21.0
atlastk==0.12.4
attrs==20.3.0
chardet==3.0.4
idna==2.10
iso8601==0.1.13
marshmallow==3.10.0
multidict==5.1.0
numpy==1.19.4
Pillow==8.0.1
PyPika==0.44.1
pytz==2020.5
tortoise==0.1.1
tortoise-orm==0.16.19
typing-extensions==3.7.4.3
yarl==1.6.3
